* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem; */
    /* gap: 1rem; */
}

.titulo {
    background-color: rgb(27, 27, 27);
    color: white;
    width: 100vw;
    text-align: center;
    padding: 1rem;
    font-size: 24px;

}

main {
    width: 100vw;
    padding: 4rem;

}

table {
    margin-top: 1rem;
    width: 100%;
    border-bottom: solid 1px;
    
}